{{define "header"}}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Go web</title>
</head>
<link rel="stylesheet" href="/public/css/main.css">
<body>
{{end}}

{{define "footer"}}
</body>
</html>
{{end}}